.main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 90px;
  box-sizing: border-box;
}
.main .outter {
  width: 48vw;
}
.left {
  position: relative;
  display: flex;
  flex-direction: column;
}
video {
  width: 48vw;
  height: 62vh;
}
#yuan1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: unset;
  bottom: 300px;
  right: 900px;
  background-color: rgb(32, 233, 255);
  z-index: 1;
  border: 3px solid black;
}
#yuan1:hover {
  background-color: rgb(255, 255, 255);
}
